body {
  background-color: #222222;
  color: white;
  display: flex;
  flex-direction: column;
}

p {
  color: #e1d9d1;
}

.flex {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.flex .center {
  margin: 20px;
}

.center-text,
ol li {
  text-align: center;
  margin: auto;
}

.center-text {
  width: 85%;
}

ol li {
  list-style-position: inside;
}
